/* MAIN PAGE STYLING */
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  text-align: center;
  background-color: #465362;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.main-title {
  font-family: 'Nabla', cursive;
  font-size: 150px;
  margin-top: -30px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

.welcome {
  font-size: 40px;
}

.container {
  display: flex;
  margin: 200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 200px;
  background-color: #465362;
}

img {
  float: left;
  width:  400px;
  height: auto;
  object-fit: cover;
}

#rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.clickable {
  cursor: pointer;
}

/* MEMORY GAME STYLING */
.memory-board {
  display: flex;
  height: 90%;
  width: auto;
  gap: 1em;
}

.memory-square {
  background-color: gray;
  height: 5em;
  width: 5em;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}


/* CONNECT 4 STYLING */
.Connect4numbers{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width:600px;
}

.Connect4Button{
  width: 13.4%;
}

.Connect4Button button{
  cursor: pointer;
  font-weight: bold;
}

.Connect4{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width:600px;
  height: 500px;
  border:3px solid red;
}

.Connect4cell{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.4%;
  height:15%;
  /* border-radius: 50%; */
}

.Connect4cell div{
  border-radius: 50%;
  border: 2px solid black;
  height: 95%;
  width: 100%;
}

/* TRIVIA STYLING */
.trivia-body {
  text-align: center;
}

.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
