/* MAIN PAGE STYLING */
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  text-align: center;
  background-color: #465362;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.main-title {
  font-family: 'Nabla', cursive;
  font-size: 150px;
  margin-top: -30px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

.welcome {
  font-size: 40px;
}

.container {
  display: flex;
  margin: 200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 200px;
  background-color: #465362;
}

.main-icon {
  float: left;
  width:  400px;
  height: auto;
  object-fit: cover;
  transition: transform .3s
}

.main-icon:hover {
  transform: scale(1.5);
}


.clickable {
  cursor: pointer;
}

/* MEMORY GAME STYLING */
.memory-board {
  display: flex;
  height: 90%;
  width: auto;
  gap: 1em;
}

.memory-square {
  background-color: gray;
  height: 5em;
  width: 5em;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}


/* CONNECT 4 STYLING */

.opponent-choice{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:855px;
}

.opponent-choice div{
  border: 4px solid blue;
  border-radius: 10px;
  padding: 20px;
  background-color: red;
}

.difficulty{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 857px;
}

.difficulty div{
  width:100%;
}

.player{
  margin:0 auto;
  display: flex;
  width: 600px;
  justify-content: space-evenly;
}

.Connect4numbers{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width:600px;
  margin-bottom: 10px;
}

.Connect4Button{
  width: 13.4%;
}

.Connect4Button button{
  cursor: pointer;
  font-weight: bold;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.Connect4{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width:600px;
  height: 500px;
  border:3px solid black;
  background-color: blue;
  margin-bottom: 10px;
}

.Connect4cell{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.4%;
  height:15%;
  border-radius: 50%;
}

.Connect4cell div{
  border-radius: 50%;
  border: 1px solid black;
  height: 90%;
  width: 90%;
  background-color: white;
}

.buttonCenter{
  margin: 0 auto;
  display:flex;
  width:600px;;
  justify-content: space-evenly;
}

.buttonCenter button{
    width: 150px;
}

/* TRIVIA STYLING */
.trivia-body {
  text-align: center;
}

.dropbtn {
  background-color: blue;
  color: white;
  padding: 20px;
  margin-left: 35px;
  font-size: 40px;
  border: none;
  border-radius: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

#main-title {
  font-size: 70px;
  animation-name: flashing-title;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes flashing-title {
  0% {color: chartreuse}
  25% {color: red}
  50% {color: blue}
  75% {color: yellow}
  100% {color: purple}
}

.set-buttons {
  font-size: 20px;
}

select {
  margin-left: 10px;
}

.question-card {
  width: 50%;
  height: auto;
  padding: 100px;
  background-color: grey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#question {
  font-size: 80px;
}

.answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer-card {
  padding: 30px;
}

.modal, .settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #7d8a81;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  animation-duration: 3s;
  animation-name: trivia-modal;
}

@keyframes trivia-modal {
  0% {background-color: #465362;}
  100% {background-color: #7d8a81;}
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
